﻿@model ParkingShare.Web.ViewModels.TakeOfferViewModel

@{
    ViewBag.Title = "Hire Space Offer";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AcceptablePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptablePrice) lv.
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecessetyPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecessetyPeriod) days
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptableAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptableAddress)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
