﻿@model IEnumerable<ParkingShare.Web.ViewModels.TakeOfferViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Desired spaces</h2>

<p>
    @Html.ActionLink("Create New Offer", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AcceptablePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NecessetyPeriod) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptableAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptablePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NecessetyPeriod) days
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptableAddress)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
