﻿@model ParkingShare.Web.ViewModels.GiveOfferViewModel

@{
    ViewBag.Title = "Offer Space Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpace.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpace.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) lv.
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowedPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowedPeriod) days
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
