﻿body {
    background-image: url("../Images/home-wallpaper.jpg");
    background-position: -275px 0;
}

.container {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

    .container.body-content {
        border: none;
    }

    .container .navbar-collapse.collapse {
        border: none;
    }

    .container .nav > li > a:focus, .container .nav > li > a:hover {
        background-color: #010101;
        background-color: rgba(1,1,1,0.1);
    }

    .container a {
        color: #fff;
    }

.navbar-fixed-top {
    top: 20px;
}

.big-top-padding {
    margin-top: 200px;
}

.box {
    border: 1px solid #fff;
    color: #fff;
    height: 200px;
    padding-top: 65px;
    padding-left: 110px;
}

    .box:hover {
        background-color: #010101;
        background-color: rgba(1,1,1,0.1);
    }

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #c8c8c8;
    background-color: rgba(200, 200, 200,0.1);
    text-align: center;
}

    footer p {
        color: #fff;
    }
