﻿.container .navbar-collapse.collapse {
    border-bottom: 1px solid #bbb;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}