﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row big-top-padding">
    <a href="/TakeOffers">
        <div class="col-md-4 col-md-offset-1 box">
            <h2>Hire Parking</h2>
        </div>
    </a>
    <a href="/GiveOffers">
        <div class="col-md-4 col-md-offset-1 box">
            <h2>Offer Parking</h2>
        </div>
    </a>
</div>
@section Styles {
    <link rel="stylesheet" type="text/css" href="../../Content/homepagestyles.css">
}